html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

:root {
    --main_background: #0f0e0e;
    --border_background: #908c8c1e;
    --base_color: #2bae4e;
    --base_color_hover: #34ca5c;
    --base_color_darker: #0e0d0de8;
}

body {
    background: linear-gradient(60deg, #000000, #201e1e);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
}

input {
    width: 300px;
    height: 60px;

    outline: none;
    background-color: #313030;
    padding: 10px;

    border: 2px solid #6b6969;
    border-radius: 6px;
    color: white;
    font-size: x-large;

    transition: border-color 0.1s ease-out;
}

input:hover {
    border-color: #00e1ff;
}

input:focus {
    border-color: #00e1ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #313030 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    outline: none;
    border: none;

    background: linear-gradient(60deg, var(--base_color), #468641, #2f782a, var(--base_color));
    background-size: 150% 150%;

    color: var(--main_background);

    font-size: x-large;
    font-weight: bolder;

    width: 300px;
    height: 40px;

    border-radius: 20px;

    cursor: pointer;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;

    transition: transform 0.1s ease-out;
    animation: gradient-animation-out 0.5s ease forwards;
}

button:hover {
    transform: scale(1.02);
    animation: gradient-animation-in 0.5s ease forwards;
}

button:active {
    transform: scale(1.0);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.base-container {
    display: flex;
    flex-direction: column;

    justify-self: center;
    align-items: center;

    min-width: 400px;
    min-height: 400px;

    margin-top: 80px;

    background-color: var(--border_background);
    border-radius: 6px;
    border: 2px solid #ffffff06;

    gap: 20px;
    padding: 20px;

    box-shadow: none;
}

.faded-in {
    animation: fade-in-animation 1s ease-out;
}



@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gradient-animation-in {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradient-animation-out {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}